#home .footer-container {
    display: flex;
    gap: 1.875rem;
    color: var(--color-font-light-grey);
}

@media(max-width: 1023px) {
    #home .footer-container {
        flex-direction: column;
    }
}

#home .footer-container .left-container {
    width: 90%;
}

@media(max-width: 767px) {
    #home .footer-container .right-container {
        flex-direction: column;
    }
}

#home .footer-container .logo {
    font-size: 4.063rem;
    text-transform: capitalize;
    font-weight: 800;
    color: var(--color-font-pink);
    padding-bottom: 3.125rem;
}

#home .footer-container .logo span {
    font-size: 1.563rem;
    font-weight: 300;
}

#home .footer-container .description {

}

#home .footer-container  {

}

#home .footer-container i {

}

#home .footer-container .text {
    line-height: 1.875rem;
    font-size: 0.875rem;
}

#home .footer-container .our-story .text {
    padding-bottom: 1.125rem;
}

#home .footer-container .category  {
    padding-bottom: 3.75rem;
}

#home .footer-container .social-post {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#home .footer-container .social-post .title {
    color: var(--color-font-pink);
    padding-bottom: 0.438rem;
}

#home .footer-container .right-container {
    display: flex;
    gap: 0.938rem;
}

#home .footer-container .right-container .author {
    padding-bottom: 0.625rem;
}

#home .footer-container .our-story {
    flex: 1;
}

#home .footer-container .our-story .link {
    color: inherit;
    text-decoration: none;
}

#home .footer-container .our-story .link:hover {
    color: var(--color-font-pink-highlight);
}

#home .footer-container .our-story .link:hover i {
    color: var(--color-font-pink-highlight);
}

#home .footer-container .our-story .link i {
    color: var(--color-font-pink);
    font-size: 1.25rem;
}

#home .footer-container .our-story .contact {
    padding-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

#home .footer-container .our-story .contact .link {
    display: flex;
    gap: 0.313rem;
    align-items: center;
}


#home .footer-container .our-story .social-medias {
    display: flex;
    gap: 1.875rem;
}